site_name: The SoftwareMentor
theme:
  name: material
  palette: 
    primary: blue
    accent: deep purple
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - navigation.indexes

  plugins:
    - meta
    # - blog:
    #     post_date_format: medium
    - search
    - tags
  nav:
    - Home: index.md
    - 'Recommend Reading': books.md
    