site_name: The Software Mentor
theme:
  name: material
  features:
    # - naviagtion.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - content.code.copy
  palette:
    - primary: blue
    - accent: deep purple
plugins:
  - meta
  - blog:
      blog_dir: blog/
      post_date_format: medium
  - search
  - tags
nav: 
  - About Me: index.md
  - Blog: blog/index.md
  - Recommended Reading: books.md
  - Presentations: presentations.md
  - Speaking Schedule: speaking-schedule.md
# theme:
#   features:
#     - navigation.footer
#     - navigation.indexes

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.highlight
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      toc_depth: "1-1"
    