site_name: The Software Mentor
site_author: Cameron Presley
theme:
  name: material
  logo: assets/images/favicon.png
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - content.code.copy
  palette:
    - primary: blue
    - accent: deep purple
plugins:
  - meta
  - blog:
      blog_dir: articles/
      post_date_format: medium
  - search
  - tags
  - optimize
nav:
  - About Me: index.md
  - Articles:
      - articles/index.md
  - Level Up Resources: level-up.md
  - Presentations: presentations.md
  - Speaking Schedule: speaking-schedule.md
  - Resume: resume.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.highlight
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - attr_list
  - md_in_html
  - toc:
      toc_depth: "1-1"

extra:
  analytics:
    provider: google
    property: G-ZE0MGVG7RJ
