name: Deploy Blog

on:
    push

jobs:
    deploy-blog:
        runs-on: ubuntu-latest
        container:
          image: ghcr.io/cameronpresley/mkdocs-material-insiders
          credentials:
              username: cameronpresley
              password: ${{ secrets.GHCR_REGISTRY_TOKEN }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: 'check contents'
              run: ls

            - name: Deploy Docs
              run: |
                mkdocs gh-deploy -c -v --message "[skip ci] Updates"
